.button {
  //background: url('../img/backgroud-button.svg') no-repeat center;
  background-color: transparent;
  background-size: cover;
  padding: 10px 50px;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: white;
  font-weight: 600;
  border-radius: 50px;
  border: 1px solid white;
}
