.button {
  background: url('../img/backgroud-button.svg') no-repeat center;
  background-color: transparent;
  background-size: cover;
  width: 376px;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  height: 68px;
  border: none;
}
