@font-face {
  font-family: 'GUERRILLA';
  src: url('../fonts/GUERRILLA-Normal.eot');
  src: local('GUERRILLA Normal'), local('GUERRILLA-Normal'),
    url('../fonts/GUERRILLA-Normal.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GUERRILLA-Normal.woff2') format('woff2'),
    url('../fonts/GUERRILLA-Normal.woff') format('woff'),
    url('../fonts/GUERRILLA-Normal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');
